.span8
{
	
	background-color:black;
}
.span2
{
	background-image:url("images/guitar.jpg");

}
.accordian-inner
{
	background-color: yellow;
}
.accordian-toggle,a:hover
{
	background-color:#FF0046;
	color:yellow;
}

.column
{   background-color:gray;
	margin: 40px 40px 0px 0px;
	height: 800px;
}
.fixedbody
{
	background-color: white;
	margin-left: 0px;
}